body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../UI/images/delivery.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
    width: 100%;
}


/* end body */


/* header */

header {
    background-color: black;
    padding: 10px;
    width: 100%;
}


/* end header */


/* nav-bar container */

.nav-bar {
    display: flex;
    justify-content: space-evenly;
}

.logo img {
    width: 80px;
    height: 70px;
}

.nav-bar .category ul {
    display: flex;
}

.nav-bar .category ul li a {
    text-decoration: none;
    color: rgb(187, 184, 184);
    font-size: smaller;
    padding-right: 15px;
}

.nav-bar .category ul a:hover {
    color: rgb(170, 43, 71);
}

.nav-bar .category ul li {
    padding-right: 35px;
    text-align: right;
}

.nav-bar .search img {
    width: 20px;
    height: 20px;
    padding-top: 20px;
}


/* end nav-bar container */


/* Drop down container */

.dropdown {
    float: left;
    overflow: hidden;
}


/* Dropdown content(hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(114, 88, 89);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgb(147, 203, 207);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(175, 158, 158);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Add a green background color to dropdown links on hover */

.dropdown-content a:hover {
    background-color: rgb(79, 192, 177);
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* end dropdown container */


/* section container */

.section p {
    text-align: center;
    color: rgb(64, 182, 182);
    font-size: 70px;
    font-weight: 400;
}

.section .signIn {
    background-color: rgb(235, 223, 223);
    margin: 1px auto;
    position: center;
    width: 40%;
    height: 60%;
}

.section .signIn h2 {
    color: grey;
    font-size: larger;
    font-weight: 600;
}

.section .signIn form input {
    margin-bottom: 10px;
    padding: 15px;
    color: rgb(94, 90, 90);
    border: none;
    border-radius: 5px;
    margin: 15px;
    width: 60%;
}


/* end section */


/* footer */

footer {
    color: antiquewhite;
    background-color: rgb(8, 6, 6);
    font-size: x-small;
    width: 100%;
    height: 100px;
    padding: 19px 15px;
    bottom: 0;
    position: fixed;
}

.location {
    display: flex;
    justify-content: space-evenly;
}

.para p {
    text-align: center;
}

.copyright {
    color: rgb(161, 82, 82);
}


/* end footer */