body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
    width: 100%;
    padding-bottom: 100px;
    min-height: 100%;
    position: relative;
    height: 100%;
}


/* end body */


/* 
.main_container {
    min-height: 100%;
    position: relative;
    height: 100%;
} */


/* header */

header {
    background-color: black;
    padding: 10px;
    width: 100%;
    /* height: 40%; */
}


/* end header */


/* nav-bar container */

.nav-bar {
    display: flex;
    justify-content: space-evenly;
}

.logo img {
    width: 80px;
    height: 70px;
}

.nav-bar .category ul {
    display: flex;
}

.nav-bar .category ul li a {
    text-decoration: none;
    color: rgb(187, 184, 184);
    font-size: smaller;
    padding-right: 15px;
}

.nav-bar .category ul a:hover {
    color: rgb(170, 43, 71);
}

.nav-bar .category ul li {
    padding-right: 35px;
    text-align: right;
}

.nav-bar .search img {
    width: 20px;
    height: 20px;
    padding-top: 20px;
}


/* end nav-bar container */


/* Drop down container */

.dropdown {
    float: left;
    overflow: hidden;
}


/* Dropdown content(hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(114, 88, 89);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgb(147, 203, 207);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(175, 158, 158);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Add a green background color to dropdown links on hover */

.dropdown-content a:hover {
    background-color: rgb(79, 192, 177);
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* end dropdown container */


/* section container */

.section {
    padding: 80px;
}

.section p {
    margin-top: 0;
    text-align: center;
    color: rgb(64, 182, 182);
    font-size: 50px;
    font-weight: 400;
    padding-top: 2px;
}


/* signIn container */

.signIn h2 {
    padding: 10px;
    text-align: center;
}

.signIn {
    background-color: rgb(235, 223, 223);
    margin: 1px auto;
    position: center;
    width: 35%;
    height: 60%;
}

.signIn h2 {
    color: grey;
    font-size: larger;
    font-weight: 600;
    text-transform: uppercase;
}

.signIn form input {
    margin-bottom: 10px;
    padding: 15px;
    color: rgb(94, 90, 90);
    border: none;
    border-radius: 5px;
    margin: 25px;
    width: 60%;
}

.signIn form input[type="submit"] {
    color: white;
    background: rgb(173, 57, 57);
    width: 67%;
    font-size: large;
}

.signIn label {
    display: inline;
    text-align: left;
    color: rgb(66, 168, 168);
    font-size: smaller;
}

.signIn form a {
    text-decoration: none;
    color: rgb(201, 87, 87);
    padding: 10px;
    font-size: small;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}


/* end signIn */


/* end section */


/* category container */

.category {
    margin-bottom: 100px;
}


/* specific to signup.html file */


/* signup container */

.signUp {
    color: white;
    margin: 40px;
}

.signUp p {
    color: rgb(66, 128, 133);
    font-weight: 500;
    font-size: larger;
    margin: 40px;
    text-align: center;
}

.signUp form {
    height: 100%;
    width: 50%;
    background-color: rgb(105, 102, 102);
    border: none;
    margin-bottom: 20px;
    margin: 1px auto;
}

table {
    margin: 30px;
}

table tr {
    background-color: rgb(75, 122, 114);
    padding: 20px;
    border: 10px;
    font-size: medium;
    width: 100%
}

table td {
    background-color: rgb(189, 178, 178);
    border: 20px;
    width: 100%;
    height: 30px;
    padding: 30px;
}

table td label {
    font-size: small;
    padding-right: 10px;
    padding: 20px;
}

table td input {
    padding: 5px;
    width: 100%;
    background-color: rgb(211, 202, 202);
    /* border: none; */
}

.sign {
    position: center;
    background: rgb(146, 49, 49);
    padding: 10px;
    margin: 30px;
    color: white;
    width: 90%;
    border: none;
    font-size: large;
}


/* end signup container */


/* footer */

footer {
    color: antiquewhite;
    background-color: rgb(8, 6, 6);
    font-size: x-small;
    width: 100%;
    height: 80px;
    padding: 19px 15px;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}

.location {
    display: flex;
    justify-content: space-evenly;
}

.para p {
    text-align: center;
}

.copyright {
    color: rgb(161, 82, 82);
}


/* end footer */